---
title: Kristian Walker
---
<!-- header -->
{% include header-meta_project.html %} 
<!-- project specific meta data-->


<link rel="stylesheet" type="text/css" href="style.css" />
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="main.js"></script>

</head>
<div id="page-wrapper">
<body>

{% include header.html %}

		<div class="box-spacer_l"></div>
		<div id="calc_con">


				<h1>
				JS Calculator
				</h1>
				<div id="memory-display">
					
				</div>

				<div id = "calc-display">
					<div id="calc-display_inner">
						0
					</div>
				</div>

				<div id="buttons-con">
					<div id="buttons-con_inner">

					</div>
				</div>

		</div>

	


{% include footer.html %}